/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.intro-heading {
    color:#1F1F1F;

}
.intro-lead-in{
    color: #1F1F1F;
    font-weight: 900;
    display: block !important;
}

.no-padding-bottom{
    padding-bottom: 0;
}

.politician{
    float: none;
    margin: 0 0 40px 0;
    padding: 0;
    width: 100%;
}

.poli.person{
 margin: 0 0 -40px 0;
}